/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
.body-font {
  font-family: "Raleway", sans-serif;
}
.flex-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
html {
  font-size: 62.5%;
}
html,
body {
  height: 100%;
  font-family: "Raleway", sans-serif;
  background: #7a93ac;
}
.main-wrapper {
  width: 70%;
  background: #617073;
  margin: 0 auto;
}
.nav-logo {
  width: 100%;
  background: #171a21;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
}
.nav-logo img {
  width: 100px;
  height: 100px;
}
.nav-logo .nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
}
.nav-logo .nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.7rem;
}
.nav-logo .nav a:hover {
  color: #daa520;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
  height: 45vh;
  width: 100%;
}
header .quick-bio {
  width: 50%;
}
header .quick-bio p {
  width: 100%;
  font-size: 2rem;
  line-height: 1.3;
}
header img {
  width: 60%;
  height: auto;
  border: 1px solid #fff;
}
